/* GLOBAL */

* {
    box-sizing: border-box;
    font-family: -apple-systecolm, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

/* RESTAURANT */
.rest_img{
  background: url(../img/banner3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
}