/* GLOBAL */

* {
    box-sizing: border-box;
    font-family: -apple-systecolm, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
a, a:hover{
    text-decoration: none;
}
p{
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: #232121;
  font-family: 'Quicksand', sans-serif;
}
.title{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  display: block;
  color: #ff6600;
  font-family: 'Pacifico', cursive;
}
.subtit{
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

/* RESTAURANT */
.rest{
  background-color: #ff6600;
  display: block;
}
.rest_img{
  background: url(../img/banner3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
}
.rest_text .title{
  color: white;
}
.rest_content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.rest .icon{
  background-color: white;
}
.icon{

  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}
.icon .fa{
  color: #ff6600;
  font-size: 25px;
  line-height: 70px;
}
.rest_hov:hover .icon span.fa{
  color: #ffc600;
  transition: 0.3s ease-in-out;
}
.rest_click{
  display: block;
  color: #232121;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
}
.rest_click:hover{
  opacity: 0.9;
  color: #232121;
}
.rest_hov p{
  color: #ffdfc9;
}

/* CATEGORIES */
.cat-img{
  position: relative;
}
.cat-img::after{

}
.cat_price{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40%;
}